<!DOCTYPE html>
<html>
  <head>
    <title>Secrets du monde</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css' %>
  </head>
  <body>
    <div class="container" style="height:80px; background-color:#F2F2F2;">
      <div style="height:80px; background-color=black;">
        <div class="navbar-brand" style="float:left">Secret Project
        </div>
          <div align="right" style="float:right">
            <% if flash[:success] %>
            <ul class="nav.navbar-nav.navbar-right">
              <li><%= link_to 'Logout', logout_path %></li>
            </ul>
            <% else %>
            <ul class="nav.navbar-nav.navbar-right">
              <li><%= link_to 'Nouveau compte', new_user_path %></li>
              <li><%= link_to 'Sign in', login_path %></li>
            </ul>
          <% end%>
      </div>
    </div>
    <%= yield %>
    </div>
  </body>
</html>
